spring.application.name=PetStoreApplication

server.port=8080

server.error.include-binding-errors=always
server.error.include-message=always
server.error.include-stacktrace=never

# PostgreSQL Database Configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/your_database_name
spring.datasource.username=your_db_username
spring.datasource.password=your_db_password

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=true

# Logging Configuration
logging.file.name=log/pet_app.log
logging.pattern.file= "%d %-5level - [%thread] %logger:%msg%n"
logging.level.org.springframework=WARN
logging.level.org.hibernate=WARN
logging.level.com.avsarzirh=INFO

# JWT Configuration
app.jwtSecret=your_jwt_secret_key_here_min_32_chars
app.jwtExpiartionMs=86400000
